<html> 
  <head> 
    <link type="text/css" rel="Stylesheet" media="screen" href="/screen.css" /> 
    <script type="text/javascript" src="/cake.js"></script>
    <script type="text/javascript" src="/mootools.js"></script>
   
    <script language="JavaScript" type="text/javascript"> 
      var canvas;
      
      window.onload = function() {
        
        canvas = new Canvas(document.body, 1000, 500)
        
        scene = new CanvasNode({x:300, y:300});
        grass = drawRect(scene, -300, -25, 600, 50, 'lightgreen');
        grass = drawRect(scene, 0, 0, 1, 1, 'green');
        
        drawFlower(scene, -200, 0, 'blue');
        drawFlower(scene, 200, 0, 'red');
        robot = drawRobot(scene, -130, 0);
        
        canvas.append(scene);
        
        robot.animateTo("x", 120, 500, 'sproing')
      }
      
      function drawRobot(node, x, y) {
        robot  = new CanvasNode({x: x, y: y});
        bubble = new CanvasNode({x: 20, y: -130});
  
        body   = drawBody(robot, 0, -85);
        shadow = drawShadow(robot, 35, 0);    
        small  = drawSmallBubble();
        large  = drawLargeBubble();
        
        drawCircle(bubble, 55, 47, 7, 'white')
        drawCircle(bubble, 50, 59, 3, 'white')
        
        bubble.append(large);
        robot.append(bubble);
        node.append(robot);
        
        small.when('focus', function(){
          bubble.remove(small);
          bubble.append(large);
        });
        
        return robot;
      }
      
      function drawBody(robot, x, y) {
        body = new CanvasNode({x: x, y: y});
        
        drawRect(body, 10,10,50,30);     
        drawRect(body, 20,45,30,30);
        drawCircle(body, 20,25,4);
        drawCircle(body, 50,25,4); 
        
        robot.append(body);
        return body;
      }
      
      function drawShadow(robot, x, y) {
        var shadow = new Ellipse  (15,2 , {
          x: x,
          y: y,
          fill: 'rgba(0,0,0,0.1)',
          endAngle: Math.PI*4
        });

        robot.append(shadow); 
        return shadow;
      }
      
      function drawSmallBubble() {
        small = new CanvasNode({x: 0, y: 0});
        
        [[35, 10, 30],[10, 15, 20],[60, 15, 20],[60, 15, 20]].each(function(a,i) {
          drawCircle(small, a[0],a[1],a[2], 'white');
        }); 
        
        return small;
      }
      
      function drawLargeBubble() {
        large = new CanvasNode({x: 30, y: -60});
        
        [[0, 0, 100],[60, 20, 65],[60, -20, 60],[-60, 20, 70],[-60, -30, 60]].each(function(a,i) {
          drawCircle(large, a[0],a[1],a[2], 'white')          
        });
        
        button = new CanvasNode({x:100, y:0});
        drawRect(button, -10, -25, 50, 50, "#666");
        poly = new Polygon([[0,0],[10,-15],[10,-5],[20,-5],[20,5],[10,5],[10,15]].flatten(),
          {
            closePath: true, fill:'white'
          }
        )
        button.append(poly);
        large.append(button);
        return large;
      }
      
      function drawFlower(node, x, y, color) {
        flower = new CanvasNode({x: x, y: y});
        
        [[0,-40],[10,-42],[2,-30],[12,-32]].each(function(array,i) {
          drawCircle(flower, array[0], array[1], 4, color);
        });

        var stem = new CatmullRomSpline( [[-20,-70], [6,-35], [11, 0], [11,20]], { stroke: 'green' });
        
        flower.append(stem);
        node.append(flower);
        return flower;
      }
      
      function drawCircle(node, x, y, rad, color) {
        if (color == null) { color = 'black'}
        var circle = new Circle  (rad, {
          x: x,
          y: y,
          fill: color,
          endAngle: Math.PI*4
        })
        node.append(circle);
      }
      
      function drawRect(node,x,y,width,height, color) {
        if (color == null) { color = '#AAA'}
        var rect = new Rectangle(width, height, { 
          x: x,
          y: y,
          fill: color
        });
        node.append(rect);
      }

    </script> 
  </head> 
  <body> 
    <div style="display: none">
     <p>BusyBodies requires a web browser that supports the
     HTML5 "Canvas" feature, and your web browser does not. </p>
     
     <p>Install the lastest version of <a href="http://www.mozilla.com/en-US/">Firefox</a>, 
       <a href="http://www.google.com/chrome/">Google Chrome</a>, 
       <a href="http://www.apple.com/safari/">Safari</a>, 
       <a href="http://www.apple.com/safari/">Opera</a> and then try again with that browser.
       You can also try
       <a href="http://ie.microsoft.com/testdrive/">Internet Explorer 9</a>, but it's not
       a stable application yet, so install it at your own risk!</p>
   </div> 
 </body> 
</html>